*{
    margin: 0;
    padding: 0;
}

.responsive {
 background-image:url("wallpaper.jpg");

height:100%;

    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    box-sizing: border-box;
	text-align:center;
}

.responsiveIntro {
 background-image:url("wallpaper5.jpg");

height:100%;

    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    box-sizing: border-box;
	text-align:center;
}




body,html{
    height:100%;
    margin:0;
}

.header{
	font-size: 25px;
color:white;

}




.container{
	height:100px;
	width:700px;
	text-align:left;
position:absolute;
margin:auto;
top:0;
bottom:0;
left:0;
right:0;
}
.container li{/*显示每个li的属性*/
    background-color: black;
    display: block;
    height: 150px;
    width: 150px;
    opacity: 0.8;
    float: left;
    margin-left: 20px;
	margin-top:20px;
}


.containerIntro{
	background-color: black;
    display: block;
    height: 550px;
    width: 600px;
    opacity: 0.7;
    float: left;
   margin-left:auto;
margin-right:auto;
	text-align: center;
	text-indent:35px;
    color: white;
    font-size: 25px;
	
	text-align:justify;
position:absolute;
margin:auto;
top:0;
bottom:0;
left:0;
right:0;

}

.intro{
background-color: black;
    display: block;
    height: 100px;
    width: 150px;
    opacity: 0.7;
    float: left;
   margin-left:auto;
margin-right:auto;
	text-align: center;
	
    color: white;
    font-size: 15px;
	

 }

.buttons {
    width: 50%;
display:flex;
margin-left: 35%;
}


.container li:hover{/*按键变白*/
    background-color: white;
    opacity: 0.5;
}
.container li img{/*每格内的图案位置*/
    margin:30px 0 0 35px;
}
.container li p{/*每格内文字的位置*/
    text-align: center;
    color: white;
    font-size: 25px;
}



@media only screen and (max-width: 900px) {/*当屏幕size小于700，变换格子摆放的位置*/
	.container{
	height:300px;
	width:350px;
	}
.containerIntro{
	height:300px;
	width:350px;
font-size: 10px;
}
}







